.container {
  width: 100%;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
.myCard {
  font-size: 14px;
  font-weight: bold;
}
.manageCard {
  font-size: 13px;
  color: blue;
}

.cardBox {
  padding: 12px;
  background-color: #fff;
  margin-bottom: 8px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.cardName {
  display: flex;
  align-items: center;
}
.cardIcon {
  height: 15px;
  margin-right: 5px;
}
.info {
  text-align: center;
  font-size: 12px;
  color: #888;
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}

.createContent {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.createContent >div {
  width: 0;
  flex-grow: 1;
  border-right: 1px solid #aaa;
}
.createContent >div:last-child {
  border: 0;
}
.largeText {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.questionBox {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
}
.questionTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 35px;
}
.ignoreBtn {
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #eee;
  color: #666;
  margin-right: 20px;
}
.ignoreBtn::before {
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #666;
  content: "\f070";
  margin-right: 5px;
}
.blueBtn {
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #d9d9f0;
  color: blue;
}
.blueBtn::before {
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: blue;
  content: "\f044";
  margin-right: 5px;
}

.scrollBox {
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.scrollContent {
  flex-shrink: 0;
  width: 85%;
  margin-right: 30px;
}
.topic {
  display: flex;
  align-items: center;
  margin: 15px 0 10px;
}
.topic img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}
.topicTitle {
  margin-left: 6px;
  font-size: 15px;
  font-weight: bold;
}

.chatBox {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.chatContent {
  width: 50px;
  margin: 20px 15px 5px 0;
}
.chatContent img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.chatContent p {
  font-size: 12px;
  white-space: normal;
}