body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
main {
    float: left;
	background: #FFFFFF;
	margin: 0 auto;
	text-align: left;
}
.sidebar {
	float: right;
	width: 200px;
	background: #EBEBEB;
	padding: 15px 10px;
}
.mainContent { 
	margin: 0 250px 0 0;
	padding: 0 20px;
}