.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.pageBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px;
}
.pageBtn img {
  height: 24px;
}
.pageBtn span{
  font-size: 12px;
}