.TopBar {
  height: 132px;
  position: relative;
  background: #d43d3d;
}

.TopBar .left,
.TopBar .middle,
.TopBar .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  line-height: 132px;
  font-size: 60px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.title {
  padding-left: 45px;
  background-size: 249px !important;
  width: 249px;
  height: 132px;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/wap_logo@3x_581de69e.png) no-repeat right center;
  display: inline-block;
}
.refreshContainer {
  width: 75px;
  height: 132px;
  background-color: #d43d3d;
  display: inline-block;
}
.refreshBtn {
  background-size: 45px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/titlebar_refresh_small@3x_96fb31e4.png) no-repeat center center;
}

.left {
  font-size: 42px;
  width: 162px;
  z-index: 100;
  color: #fff;
  left: 20px;
  font-weight: 600;
}
.messageBox {
  margin-left: 36px;
  height: 75px;
  width: 96px;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/feed_ic_message_normal@3x_f2ea949f.png) no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

.right {
  font-size: 42px;
  color: #fff;
  right: 20px;
  z-index: 100;
  font-weight: 600;
}
.search {
  margin-right: 36px;
  height: 72px;
  width: 72px;
  display: inline-block;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png) no-repeat center;
  background-size: contain;
}